.popup__input {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, .2);
}

.popup__input:invalid {
  border-bottom: 1px solid #ff0000;
}
