.popup__image-big {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}


@media screen and (orientation: portrait) {
  .popup__image-big {
    max-width: 100%;
    min-height: 299px;
    height: 75vh;
    object-fit: cover;
  }
}
