.place__info {
  height: 79px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 21px;
  padding-right: 19px;
  border-radius: 0 0 10px 10px;
}