* {
  outline: 1px solid red;
}

.root {
  box-sizing: border-box;
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 45px 0 60px;
  position: relative;
}