.popup__save-btn {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.popup__save-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 800) {
  .popup__save-btn {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}