.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../img/closeIcon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: .6;
}