.place__like {
  width: 22px;
  min-width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../img/icon-like.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.place__like:hover {
  opacity: .5;
}
