.popup__title {
  margin: 0 0 47px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media screen and (max-width: 800px) {
  .popup__title {
    margin-bottom: 72px;
    font-size: 18px;
    line-height: 22px;
  }
}
